* {
  margin: 0;
  padding: 0; }

td, th, tr, table {
  border: 1px solid black;
  border-collapse: collapse; }

header {
  height: 200px; }

#fondoHeader {
  width: 100%;
  height: 100%; }

#separacion {
  height: 10px !important;
  background: #2b2a2a !important; }

hr {
  margin: 0 !important;
  color: white !important;
  background-color: white !important;
  border: 0 !important;
  opacity: unset !important;
  height: 1px !important; }

.my-5 {
  margin-bottom: 0rem !important; }

.fondoFix {
  background: #424244;
  background: linear-gradient(144deg, #424244 0%, #9fa0a1 50%, #e1e1e2 96%); }

#tituloFix {
  margin: 15px;
  font-family: 'Fredoka One', cursive;
  text-decoration: underline;
  color: #e2e616d8;
  font-weight: bold; }

#container {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 100%;
  align-items: center;
  justify-content: space-between; }

#tablaFixture {
  margin: 80px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 3%;
  width: 80%; }
  #tablaFixture tr td {
    padding: 15px;
    border: solid;
    border-color: #727481;
    border: 1px;
    font-weight: bold; }
  #tablaFixture tr .fila1 {
    background-color: #FFFFFF; }
  #tablaFixture tr .fila2 {
    background-color: #e7e7e1e3; }

#tablaPosiciones {
  margin: 0 auto;
  text-align: center; }
  #tablaPosiciones th {
    background-color: #a4a4a5e7; }
  #tablaPosiciones tr .fila1 {
    background-color: #FFFFFF; }
  #tablaPosiciones tr .fila2 {
    background-color: #e7e7e1e3; }
  #tablaPosiciones tr td {
    padding: 15px;
    font-weight: bold; }

@media only screen and (max-width: 900px) {
  #container {
    height: 100%;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 60% 40%;
    align-items: center;
    justify-content: space-around;
    margin-top: 15%; } }

@media only screen and (max-width: 500px) {
  #tablaFixture tr td {
    padding: 8px;
    border: solid;
    border-color: #727481;
    border: 1px;
    font-weight: bold;
    font-size: 15px; } }

#tablaPosiciones {
  margin: 0 auto;
  text-align: center;
  margin-top: 10%; }
  #tablaPosiciones th {
    background-color: #a4a4a5e7; }
  #tablaPosiciones tr .fila1 {
    background-color: #FFFFFF; }
  #tablaPosiciones tr .fila2 {
    background-color: #e7e7e1e3; }
  #tablaPosiciones tr td {
    padding: 8px;
    font-weight: bold; }

#tablaPosiciones {
  margin-bottom: 10%; }

.fondoGal {
  background: #424244;
  background: linear-gradient(144deg, #424244 0%, #9fa0a1 50%, #e1e1e2 96%); }
  .fondoGal h1 {
    font-family: 'Fredoka One', cursive;
    margin-top: 25px;
    text-decoration: underline;
    color: #e2e616d8;
    text-align: center;
    font-size: 4em;
    font-weight: bold; }

#galeriaFotos {
  width: 90%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; }
  #galeriaFotos .galeriaFotos__lista {
    margin: 0 auto;
    margin-top: 10px; }
    #galeriaFotos .galeriaFotos__lista .galeriaFotos_img {
      width: 400px;
      height: 250px; }
    #galeriaFotos .galeriaFotos__lista :hover {
      transform: scale(1.08);
      transition: all 500ms; }

#galeriaVideos {
  width: 90%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; }
  #galeriaVideos li {
    margin: 0 auto;
    margin-top: 10px; }

@media only screen and (max-width: 700px) {
  iframe {
    width: 450px;
    height: 300px; } }

.navbar a {
  font-weight: bold;
  font-size: 15px;
  margin-right: 2em; }

.navbar-collapse {
  justify-content: space-evenly !important;
  margin-left: -6em; }

h1 {
  font-family: 'Fredoka One', cursive;
  margin-top: 0.75em !important;
  margin-left: 0.60em !important;
  font-weight: bold !important;
  text-decoration: underline;
  font-size: 2.5em !important; }

.card-box {
  border: 1px solid #ddd;
  padding: 13px;
  box-shadow: 0px 0px 10px 0px #c5c5c5;
  margin-bottom: 30px;
  float: left;
  border-radius: 10px; }

.card-box .card-thumbnail {
  max-height: 200px;
  overflow: hidden;
  border-radius: 10px; }

.card-box h3 a {
  font-size: 23px;
  text-decoration: none;
  font-weight: bold; }

.container {
  margin-top: 3em; }

.col-md-7 {
  margin: 0 auto;
  margin-top: 5em; }

.contact-img {
  text-align: center; }
  .contact-img img {
    width: 40%;
    height: auto;
    text-align: center; }

.fondoContacto {
  height: auto;
  background: #424244;
  background: linear-gradient(144deg, #424244 0%, #9fa0a1 50%, #e1e1e2 96%); }

.bg-body1 {
  background-color: #e0df9e !important; }

.tituloPlan {
  font-size: 3.2em !important;
  color: #e2e616d8; }

.largoPromo {
  background: #424244;
  background: linear-gradient(144deg, #424244 0%, #9fa0a1 50%, #e1e1e2 96%); }

.pricingTable,
.pricingTable .pricingTable-header {
  position: relative; }

a {
  text-decoration: none; }

.pricingTable {
  padding-bottom: 25px;
  margin: 0 20px;
  background: #fff;
  border-radius: 20px;
  border-bottom: 5px solid #4fc2f8;
  text-align: center;
  z-index: 1; }

.pricingTable .pricingTable-header:after,
.pricingTable .pricingTable-header:before {
  content: "";
  border-top: 10px solid #48434a;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: -10px; }

.pricingTable .pricingTable-header:after {
  border-left: none;
  border-right: 10px solid transparent;
  left: auto;
  right: -10px; }

.pricingTable .title {
  padding: 25px 5px;
  margin: 0;
  background: #030004;
  background: linear-gradient(to top, #030004, #314047);
  border-radius: 20px 20px 0 0;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  position: relative; }

.pricingTable .title:after,
.pricingTable .title:before {
  content: "";
  border-left: 10px solid #363636;
  border-top: 37px solid transparent;
  border-bottom: 37px solid transparent;
  position: absolute;
  bottom: -114px;
  left: -30px; }

.pricingTable .title:after {
  border-left: none;
  border-right: 10px solid #363636;
  left: auto;
  right: -30px; }

.pricingTable .price-value {
  display: block;
  padding: 15px 5px;
  margin: 0 -10px;
  background: #4fc2f8;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative; }

.pricingTable .price-value:after,
.pricingTable .price-value:before {
  content: "";
  width: 30px;
  height: 90%;
  background: #0082d4;
  position: absolute;
  top: 50%;
  left: -20px;
  z-index: -1; }

.pricingTable .price-value:after {
  left: auto;
  right: -20px; }

.pricingTable .month {
  font-size: 15px;
  font-weight: 700;
  margin-left: 3px;
  position: relative;
  top: -12px; }

.pricingTable .pricing-content {
  list-style: none;
  padding: 15px 0;
  margin: 0; }

.pricingTable .pricing-content li {
  padding: 8px 15px 8px 15px;
  font-size: 15px;
  font-weight: 700;
  color: #b2bbc0;
  line-height: 30px;
  border-bottom: 2px dashed #e3e3e3;
  position: relative; }

.pricingTable .pricing-content li:last-child {
  border-bottom: none; }

.pricingTable .pricingTable-signup {
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #4fc2f8;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.08);
  perspective: 300px;
  z-index: 1;
  position: relative;
  transition: all .3s ease 0s; }

.pricingTable .pricingTable-signup:hover {
  color: #4fc2f8; }

.pricingTable .pricingTable-signup:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #4fc2f8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform-origin: left center 0;
  transition: all .3s ease 0s; }

.pricingTable .pricingTable-signup:hover:before {
  transform: rotateY(90deg); }

.pricingTable.orange {
  border-bottom-color: #fb8c00; }

.pricingTable.orange .price-value,
.pricingTable.orange .pricingTable-signup:before {
  background: #fb8c00; }

.pricingTable.orange .price-value:after,
.pricingTable.orange .price-value:before {
  background: #cd4410; }

.pricingTable.orange .pricingTable-signup {
  border-color: #fb8c00; }

.pricingTable.orange .pricingTable-signup:hover {
  color: #fb8c00; }

.pricingTable.pink {
  border-bottom-color: #d81a60; }

.pricingTable.pink .price-value,
.pricingTable.pink .pricingTable-signup:before {
  background: #d81a60; }

.pricingTable.pink .price-value:after,
.pricingTable.pink .price-value:before {
  background: #a91a58; }

.pricingTable.pink .pricingTable-signup {
  border-color: #d81a60; }

.pricingTable.pink .pricingTable-signup:hover {
  color: #d81a60; }

@media only screen and (max-width: 990px) {
  .pricingTable {
    margin-bottom: 30px; } }

.planes {
  margin-top: 3em !important; }

.largoPromo {
  height: auto; }
