.col-md-7 {
    margin: 0 auto;
    margin-top: 20em;
}
.contact-img  {
    img{
    width: 40%;
    height: auto;
    text-align: center;
}

    text-align: center;
   
    
}

.fondoContacto {
    height: auto;
    background: rgb(66,66,68);
    background: linear-gradient(144deg, rgba(66,66,68,1) 0%, rgba(159,160,161,1) 50%, rgba(225,225,226,1) 96%);
}

.bg-body1 { background-color: rgb(224, 223, 158) !important;

}