.fondoFix {
    background: rgb(66,66,68);
    background: linear-gradient(144deg, rgba(66,66,68,1) 0%, rgba(159,160,161,1) 50%, rgba(225,225,226,1) 96%);
}
#tituloFix{
    margin: 15px;
    font-family: 'Fredoka One', cursive;
    text-decoration: underline;
    color: #e2e616d8;
    font-weight: bold;
}

#container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: space-between;
}

#tablaFixture {
    margin: 80px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
    

    tr {
        td{
            padding: 15px;
            border: solid;
            border-color: #727481;
            border: 1px;
            font-weight: bold;
        }
        .fila1 {
            background-color: #FFFFFF ;  
        }
        
        .fila2 {
            background-color: #e7e7e1e3;
        }
    }
}

#tablaPosiciones {
    margin: 0 auto;
    text-align: center;
    
    
    th {
        background-color: #a4a4a5e7;
    }
    tr {
            .fila1 {
                background-color: #FFFFFF ;  
            }
            
            .fila2 {
                background-color: #e7e7e1e3;
            }
            td {
                padding: 15px;
                font-weight: bold;
            }
        }
    }

    @media only screen and (max-width: 900px) {

        #container {
            height: 100%;
            display: grid;
            grid-template-columns: 90%;
            grid-template-rows: 60% 40%;
            align-items: center;
            justify-content: space-between;
        }
    }

    #tablaPosiciones {
        margin: 0 auto;
        text-align: center;
        margin-top: 10%;
        
        
        th {
            background-color: #a4a4a5e7;
        }
        tr {
                .fila1 {
                    background-color: #FFFFFF ;  
                }
                
                .fila2 {
                    background-color: #e7e7e1e3;
                }
                td {
                    padding: 8px;
                    font-weight: bold;
                }
            }
        }

    #tablaPosiciones{

        margin-bottom: 10%;
    }
 