.navbar {
    
    

    a {
        font-weight: bold;
        font-size: 15px;
        margin-right: 2em;
        
        
        
    }
}
.navbar-collapse {
    justify-content: space-evenly !important;
    margin-left: -6em;
    
}
